In [13]:
l = [10, 20, 30, 40, 50, 60, 70, 80]
l2 = [200 , 300]
l.extend(l2)
print(l)
l.remove(10)
l.remove(30)
print(l)
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [21]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print(f"The highest score is {max(scores)} and the index is {scores.index(max(scores))}")
print(f"The lowest score is {min(scores)} and it aappears {scores.count(min(scores))} times")
temp = list(scores)
temp.reverse()
scores = tuple(temp)
print(scores)
if 76 in scores:
  print(f"76 is present at index {scores.index(76)}")
else:
  print("76 is not present")

The highest score is 92 and the index is 5
The lowest score is 45 and it aappears 2 times
(45, 58, 92, 89, 45.4, 76, 89.5, 45)
76 is present at index 5

In [35]:
import random
l = []
odd = []
even = []
prime = []
for i in range(1,101):
  l.append(random.randint(100 , 900))
print(len(l))
for num in l:
  if num % 2 == 0:
    even.append(num)
  else:
    odd.append(num)
  if num > 1:
      is_prime = True
      for i in range(2, int(num**0.5) + 1):
          if num % i == 0:
              is_prime = False
              break
      if is_prime:
          prime.append(num)
print(f"The even numbers are {len(even)}")
print(f"The odd numbers are {len(odd)}")
print(f"The prime numbers are {len(prime)}")

100
The even numbers are 52
The odd numbers are 48
The prime numbers are 12

In [48]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.union(B))
print(A.intersection(B))
print(A.symmetric_difference(B))
print(A.issubset(B))
print(B.issuperset(A))
x = int(input("Enter a no. : "))
if x in A:
    A.remove(x)
    print(f"Score {x} removed from set A. Updated set A: {A}")
else:
    print(f"Score {x} is not present in set A.")

{34, 45, 78, 23, 56, 90}
{90, 78}
{34, 45, 23, 56}
False
False
Enter a no. : 34
Score 34 removed from set A. Updated set A: {56, 90, 78}

In [50]:
sample_dict = {
  "name": "Kelly",
  "age": 25,
  "salary": 8000,
  "city": "New york"
}
city = sample_dict["city"]
sample_dict.pop("city")
sample_dict["location"] = city
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}